{% extends 'base.html' %}

{% block 'content' %}
     <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'batepapo' %}">Bate-Papo</a></li>
          <li><a href="{% url 'sair' %}">Logout</a> </li>
        </ul>
    <h1>Enviar mensagem para {{ destinatario.username }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="texto">Mensagem:</label>
            <textarea name="texto" id="texto" rows="3" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button><a href="{% url 'batepapo'  %}">Voltar ao chat</a>
    </form>
{% endblock %}