{% extends 'base.html' %}

{% block 'content' %}
     <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'batepapo' %}">Bate-Papo</a></li>
          <li><a href="{% url 'sair' %}">Logout</a> </li>
        </ul>
    <h1>Conversa com {{ destinatario.username }}</h1>
    {% for mensagem in mensagens %}
        <div class="mensagem {% if mensagem.remetente == request.user %}remetente{% else %}destinatario{% endif %}">
            <span class="data_hora">{{ mensagem.data_hora|date:'d/m/Y H:i' }}</span>
            <span class="texto">{{ mensagem.texto }}</span>
        </div>
    {% empty %}
        <p>Ainda não há mensagens nesta conversa.</p><a href="{% url 'batepapo'  %}">Voltar ao chat</a>
    {% endfor %}
{% endblock %}
